<div class="care-instructions">
  <div class="care-columns">
    <div class="care-column">
      <div class="care-row-item">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 6L4.721 16.329C4.79888 16.796 5.0399 17.2202 5.40118 17.5262C5.76245 17.8322 6.22056 18.0001 6.694 18H17.306C17.7794 18.0001 18.2375 17.8322 18.5988 17.5262C18.9601 17.2202 19.2011 16.796 19.279 16.329L21 6M3.48584 8.96495C3.65384 8.98495 3.82584 8.99795 3.99984 8.99995C4.78984 9.00895 5.53884 8.82195 5.99984 8.49995C6.46084 8.17995 7.20984 7.99295 7.99984 7.99995C8.78984 7.99295 9.53884 8.17995 9.99984 8.49995C10.4608 8.82195 11.2098 9.00895 11.9998 8.99995C12.7898 9.00895 13.5388 8.82195 13.9998 8.49995C14.4608 8.17995 15.2098 7.99295 15.9998 7.99995C16.7898 7.99295 17.5388 8.17995 17.9998 8.49995C18.4608 8.82195 19.2098 9.00895 19.9998 8.99995C20.1698 8.99995 20.3388 8.98595 20.5028 8.96595M12 13H12.01" stroke="#F26927" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <span>Machine Wash Cold</span>
      </div>
      <div class="care-row-item">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 11L4 13V18L8 20L12 18M8 11L12 13M8 11V6L12 4L16 6V11M12 13V18M12 13L16 11M12 18L16 20L20 18V13L16 11" stroke="#F26927" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        <span>Wash with like colors</span>
      </div>
      <div class="care-row-item">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.00019 19H19.0002M20.9862 17.023C20.9892 16.7582 20.9396 16.4955 20.8402 16.25L13.7402 4.00002C13.5672 3.68741 13.3137 3.42685 13.0059 3.2454C12.6982 3.06396 12.3474 2.96826 11.9902 2.96826C11.6329 2.96826 11.2822 3.06396 10.9744 3.2454C10.6667 3.42685 10.4131 3.68741 10.2402 4.00002L9.42519 5.40502M7.93719 7.97302L3.14019 16.25C3.02013 16.5456 2.97252 16.8656 3.00134 17.1833C3.03016 17.501 3.13456 17.8073 3.30584 18.0764C3.47712 18.3456 3.7103 18.5698 3.98592 18.7305C4.26153 18.8912 4.57158 18.9836 4.89019 19M3 3L21 21" stroke="#F26927" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>Do not bleach</span>
      </div>
    </div>
    <div class="care-column">
      <div class="care-row-item">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 12H17M3 6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V18C21 18.7956 20.6839 19.5587 20.1213 20.1213C19.5587 20.6839 18.7956 21 18 21H6C5.20435 21 4.44129 20.6839 3.87868 20.1213C3.31607 19.5587 3 18.7956 3 18V6Z" stroke="#F26927" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>Lay flat to dry</span>
      </div>
      <div class="care-row-item">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 6H16.459C17.1691 6.00005 17.8562 6.25202 18.3981 6.71107C18.9399 7.17013 19.3013 7.80651 19.418 8.507L20.799 16.792L20.806 16.836M18 18H3C3 16.1435 3.7375 14.363 5.05025 13.0503C6.36301 11.7375 8.14348 11 10 11H11M15 11H19.8M3 3L21 21" stroke="#F26927" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>Do not iron</span>
      </div>
    </div>
  </div>
</div>

{% style %}
  .care-instructions {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .care-columns {
    display: flex;
    gap: 30px;
  }

  .care-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .care-row-item {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-self: flex-start;
  }

  .small-star-icon {
    color: orange;
  }

  .care-row-item span:not(.small-star-icon) {
    font-size: 0.8rem;
    color: #ffffff;
  }

  @media (max-width: 768px) {
    .care-columns {
      flex-direction: column;
      gap: 8px;
    }
  }
{% endstyle %}
