<section class="summer-25-collection">
  <div class="page-width">
    <div class="summer-25-header">
      <h2 class="summer-25-title">NEW ARRIVALS</h2>
      <p class="summer-25-subtext">Ultra-Light. Breathable. Ready To Train. Click in to see why.</p>
    </div>

    <div class="product-grid">
      {% assign products = 'airrail-6-performance-shorts-mountain-mist,airrail-6-performance-shorts-mint,airrail-6-performance-shorts-midnight,tracefiber-performance-tech-tee-white,tracefiber-performance-tech-tee-mint,tracefiber-performance-tech-tee-midnight,tracefiber-performance-tech-tee-tangerine,tracefiber-performance-tech-tee-mountain-mist,motionframe-running-hat'
        | split: ','
      %}

      {% for product_handle in products %}
        {% render 'product-cell', product_handle: product_handle %}
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .summer-25-collection {
    padding: 1rem 0.5rem;
    font-family: 'Barlow', sans-serif !important;
  }

  .summer-25-header {
    text-align: left;
    margin-bottom: 2rem;
    font-weight: 400;
  }

  .summer-25-title {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  .summer-25-subtext {
    font-size: 1.1rem;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: 1fr 1fr;
    }

    .color-swatches-container {
      padding: 6px;
      gap: 4px;
    }
  }
</style>

<script defer src="{{ 'summer-25-collection.js' | asset_url}}"></script>

{% schema %}
{
  "name": "Summer '25 Collection",
  "settings": [
    {
      "type": "collection",
      "id": "custom_grid_collection",
      "label": "Choose Collection"
    }
  ],
  "presets": [
    {
      "name": "Summer '25 Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}
